<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <div class="container">
        <div class="anim">
            <h1>Welcome To Sentiment Analysis of twitter comments over covid 19 , Enter your tweet below </h1>
        </div>
        <div class="form_div">
        <form action="/" method="POST">
        <label for="tweet" hidden></label>
        <textarea type="text" id="tweet" name="tweet" placeholder="Enter Text"></textarea>
        <button>Submit</button>
        </form>
        </div>
    </div>

</body>

</html>